.TextAreaInput-warpper {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  padding: 3px;
  /* max-width: 350px; */
}

.TextAreaInput-warpper-focus {
  border: 2px solid var(--main-color);
}

.TextAreaInput-warpper-nofocus {
  border: 2px solid var(--main-color-light);
}

.TextAreaInput-input:focus {
  outline: none;
}

.TextAreaInput-input {
  border: none;
  width: 96%;
  /* max-width: 336px; */
  font-size: 16px;
  min-height: 100px;
}

.TextAreaInput-title {
  font-size: 10px;
  transform: translate(10px, -10px);
  position: absolute;
  color: white;
  padding: 2px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.TextAreaInput-title-focus {
  background-color: var(--main-color);
}

.TextAreaInput-title-nofocus {
  background-color: var(--main-color-light);
}

.TextAreaInput-topSpace {
  height: 6px;
}